<div class="layout"></div>
<div class="body">
        <div class="home">

            <h1>Hello, <%= current_user.name %>!</h1>
            <p>MOOC is simply
          described as a website where you can create a course with multiple lectures; and other people can
          view this course and its lectures. they also can comment and like on your lectures ... Enjoy Using it!</p>
            <p><center><%= link_to 'Lets Start!', courses_path,class: 'btn btn-warning btn-lg' %></center></p>
        </div>

</div>

    
